*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.nav{
    height: 80px;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    
}
.nav-2{
    display: flex;
    gap: 4vw;

}
.nav h2{
    font-size: 2.5vw;
}
.nav h4{
    font-size: 1.5vw;
}

.nav i{
    font-size: 1.5vw;
    
    display: none;
}



.content{
    height: calc(100% - 80px);
    width: 100%;    
    display: flex;
    position: relative;
}
.left{
    height: 100%;
    width: 50%;
    padding: 2vw 4.5vw;
   
}
.right{
    height: 100%;
    width: 50%;
    background-color: bisque;
}
.left h1{
    font-size: 4vw;
    line-height: 5vw;
}
.left span{
    color: rgb(57, 199, 199);
}
.left p{
    padding: 2vh 0;
    font-size: 2.5vh;
}
.left button{
    padding: .8vw 2.2vw;
    border-radius: 10px;
    margin-top: 2vw;
    background-color: rgb(57, 199, 199) ;
    font-size: 1.2vw;
    font-weight: 600;

}
.right img{
    height: 100%;
    width: 100%;
}
@media (max-width:550px){
    .nav{
        background-color: rgb(57, 199, 199);
        color: rgb(20, 11, 11);
        padding: 0 4vw;
    }
    .nav h2{
        font-size: 6vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav i{
        display: block;
        font-size: 6vw;
    }
    .content{
        flex-direction: column;
        
        
    }
    .content .left h1{
        font-size: 10vw;
        line-height: 6vh;
    }
    .left{
        height: 60%;
        width: 100%;
    }
    .right{
        width: 100%;
        height: 40%;
    }
    .left button{
        padding: 1vh 3vh;
        font-size: 4vw;
    }
    .left p{
        line-height: 4.5vw;
    }
}